@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
    --main-site-color: rgb(29, 154, 238);
}

html,
body {
    padding: 0;
    margin: 0;
}

* {
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

.action-btn {
    background-color: var(--main-site-color);
    padding: 0.5em 1.5em;
    text-decoration: none;
    color: white;
    border-radius: 100px;
    font-weight: 600;
}

.action-btn:hover {
    opacity: 0.75;
}

.overall-container {
    display: grid;
    grid-template: auto / 1fr 3fr 1fr;
}

.sidebar {
    grid-area: 1 / 1 / 4 / 2;
    background-color: var(--main-site-color);
    height: 100vh;
    color: white;
}

.nav {
    display: flex;
    flex-direction: column;
}

.nav-link {
    text-decoration: none;
    color: white;
    font-size: 1.25rem;
}

.card-container {
    grid-area: 2 / 2 / 4 / 3;
    display: grid;
}

.announcement-container {
    grid-area: 2 / 3 / 3 / 4;
}

.trending-container {
    grid-area: 3 / 3 / 4 / 4;
}
